<template>
	<section class="site_section_wrapper bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="site_chat_list_box">
						<label for="">Click any User to open chat with him</label>
						<ul class="site_chat_list list-unstyled">
							<li v-for="user in users"
							class="media chat-list"
							:class="{'font-weight-bold': chatUserID === user.id}"
							:key="user.id"
							v-if="user.id !== sender.id"
							@click="openChat(user.id)"
							>
							<div class="media-body">
								<div class="row">
									<div class="col-lg-7">
										<strong :id="user.id" ref="chatRoom">
											{{ user.name }}
										</strong>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!--  -->
			<div class="col-lg-4 bg-white">
				<!-- Chat header start -->
				<div class="site_header_row row mb-2">
					<div class="col-lg-6">
						<div class="d-flex">
							<div v-for="user in users">
								<h4 class="site_chat_name"
								v-if="user.id == chatUserID"
								>{{ user.name }}</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="site_chat_share_icon">
							<a href="#">
								<i class="fas fa-share">
								</i>
							</a>
						</div>
					</div>
				</div>
				<!-- Chat editor start -->
				<div class="site_chat_editor_row row" v-show="chatOpen">
					<div class="col-lg-12">
						<div class="site_chat_editor">
							<form @click="sendMessage">
								<div class="row mb-4">
									<div class="col-lg-12">
										<input type="text" class="form-control" placeholder="Click here to Reply or Forward" aria-label="New message" aria-describedby="button-addon2" v-model="newMessage">
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="site_send_btn">
											<button class="btn btn-primary submit site_btn"
											type="submit"
											id="button-addon2"
											>
											Send message
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card card-default">
				<div class="card-header">Public Chat</div>
				<div class="card-body">
					<ul>
						<li v-for="(message, index) in messages" :key="index">
							<strong>{{ message.sender.name }}</strong>
							<p>
								{{ message.message }}
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
</template>
<script>
import moment from 'moment'
export default {
	name: 'Chat',
	props:['sender'],
	data: () => {
		return {
			users: [],
			messages: [],
			chatOpen: false,
			chatUserID: null,
			newMessage: '',
		}
	},
	created() {
		this.fetchMessages();
		this.fetchUsers();
	},
	methods: {
		fetchMessages() {
			axios.get('/messages')
			.then(response => {
				this.messages = response.data
			})
		},
		fetchUsers() {
			axios.get('/users')
			.then((resp) => {
				this.users = resp.data.receivers
			})
		},
		openChat (userID) {
			let app = this;
			app.chatOpen = true
			app.chatUserID = userID
		},
		sendMessage (event) {
			event.preventDefault();
			let app = this;

			// Start socket.io listener
			if (app.newMessage !== '') {
				axios.post('messages/send', {
					sender_id: app.sender.id,
					receiver_id: app.chatUserID,
					message: app.newMessage
				}).then((resp) => {
					app.newMessage = '';
					let message = resp.data.message.message
					window.Echo.channel('newMessage-' + app.sender.id + '-' + app.chatUserID)
					.listen('.MessageSent', (message) => {
						app.messages.push(message.message)
					})
				})
			}
			// End socket.io listener
		}
	}
}
</script>
